# vscode/python specific
.vscode/**
*.pyc
**/.ipynb_checkpoints/**
**/__pycache__/**

# data files used for testing/logging
*.pickle
*.log
*.zip
current/**
tests/*.sql
tests/sample_transcripts/*

# env file
**.env