# vscode/python specific
.vscode/**
*.pyc
**/.ipynb_checkpoints/**
**/__pycache__/**

# data files used for testing/logging
*.pickle
*.log
*.zip
current/**
tests/sql_dumps/*
tests/sample_transcripts/*

# env file
**.env

# gpo_tools parser
chrg_tools/parse.py